.wrap-header {
  width: 1140px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.outh-out-block{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.out-block-user {
  position:absolute ;
  right: 30px;
  top: 20px;
}

.out-block-user span {
  margin-right: 30px;
}